.newsletter {
    position: relative;
    padding: 2rem;
    padding-top: 4rem;
    background: #F5F5F5;
    padding-bottom: 10rem;
}

.newsletter-img {
    width: 100%;
    max-width: 600px;
}

.newsletter-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.newsletter-flex > div {
    z-index: 10;
}

.newsletter div h1 > span {
    font-size: calc(100% + .5rem);
}
.newsletter div p {
    color: #4D4D4D;
    font-weight: 600;
}

.flex-input {
    display: flex;

    flex-direction: column;
}

.position-input-icon {
    position: relative;
    top: 56px;
    left: 29px;
}

.newsletter div input[type="email"] {
    border: none;

    padding: 2rem .5rem 2rem 5rem;
    font-weight: 600;
    font-size: 1rem;
    color: #1B44B0;
    border-radius: 10px;

    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.058);
}

.newsletter div input[type="email"]:focus {
    outline: 3px solid #1B44B0;
}

.newsletter div input[type="submit"] {
    border: none;
    padding: 1.4rem 0;
    background-color: #1B44B0;
    color: white;
    font-weight: 800;
    font-size: 1.5rem;
    border-radius: 10px;

    cursor: pointer;
}

.newsletter div input[type="submit"]:hover {
    background-color: #1a3f9e;

    cursor: pointer;
}

.newsletter div input::placeholder {
    color: #1B44B0;
}

.plane {
    position: absolute;
    display: block;
    width: 100%;
    max-width: 450px;
    left: 30px;
    top: 100px;

    z-index: 10;
}


@media (max-width: 1200px) {
    .newsletter .newsletter-img {
        max-width: 400px;
    }

    .plane {
        max-width: 200px;
    }

@media (max-width: 900px) {
    .newsletter .newsletter-img {
        max-width: 300px;
    }
}

@media (max-width: 700px) {
    .newsletter-flex {
        flex-direction: column;
        gap: 3rem ;
    }

    .newsletter-img {
        order: 0;
    }

    .newsletter-flex >div {
        order: 1
    }

    .flex-input {
        max-width: 80vw;
    }
}


}
