.about {
    padding: 2rem 2rem;
    margin: 0 auto;

    background-color: #F5F5F5;
    margin-top: 17rem;
}

.about h1 {
    color: #1E4CC6;

    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    margin: 4rem 0;
}

.grid-content {
    display: grid;
    width: 100%;
    max-width: 1000px;
    gap: 2rem;

    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;   
}

@media (max-width: 900px) {
    .grid-content {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px) {
    .grid-content {
        grid-template-columns: 1fr;
    }
}