.card {
    background-color: white;
    padding: 1rem;

    border-radius: 15px;

    color: #929292;
    font-size: 1rem;
    text-align: center;
    font-weight: 700;

    transition: .5s;
}

.card:hover {
    transform: translateY(-50px);
    transition: .5s;
}

.card img {
    width: 100%;
    max-width: 500px;
}

.card p {
    margin: 2rem 0;
}