header {
    background-color: #1B44B0;

    display: flex;
    justify-content: space-around;
    align-items: center;

    z-index: 10000;

    padding: 1rem 1rem;
    margin-bottom: 5rem;

    font-weight: 700;
    font-size: 1rem;

    position: fixed;
    width: 100vw;
}

header img {
    width: 170px;
}

header nav ul{
    display: flex;
    gap: 7rem;

    list-style: none;
    
}

header nav ul li a {
    color: white;
    
    text-decoration: none;
}
